<div class="container">
    <a href="/tipoproduto" class="btn btn-outline-secondary">
        <img src="/img/label.png" alt="tipoproduto">
    </a>
    <a href="/produto" class="btn btn-outline-secondary">
        <img src="/img/montagemIconBW.png" alt="produto">
    </a>
    <a href="/mesa" class="btn btn-outline-secondary">
        <img src="/img/restaurant_.png" alt="mesa">
    </a>
</div>