{{!-- Show de TipoProduto --}}

<div class="container">
    <div class="my-3">
        <label for="id-input-id" class="form-label">ID</label>
        <input type="text" id="id-input-id" value="{{tipoProduto.id}}" class="form-control" disabled>
    </div>
    <div class="my-3">
        <label for="id-input-descricao" class="form-label">Descrição</label>
        <input type="text" id="id-input-descricao" value="{{tipoProduto.descricao}}" class="form-control" disabled>
    </div>
    <div class="my-3">
        <label for="id-input-dataAtualizacao" class="form-label">Data Atualização</label>
        <input type="text" id="id-input-dataAtualizacao" value="{{tipoProduto.dataAtualizacao}}" class="form-control"
            disabled>
    </div>
    <div class="my-3">
        <label for="id-input-dataCriacao" class="form-label">Data Criação</label>
        <input type="text" id="id-input-dataCriacao" value="{{tipoProduto.dataCriacao}}" class="form-control" disabled>
    </div>
    <div class="my-3">
        <a href="/tipoproduto" class="btn btn-primary">Voltar</a>
    </div>
</div>